<div class="container">

    <h3>Update Employee</h3>
    <div>
      <form [formGroup]="formGroup" (ngSubmit)="updateEmployee()">
        <div class="form-group ">
          <label for="name">First Name</label>
          <input type="text" class="form-control col-lg-4 col-md-6 col-sm-10" formControlName="firstname" required  name="firstname">
          <div  *ngIf="formGroup.controls['firstname'].errors && formGroup.controls['firstname'].dirty">
            <span style="color: red;"  *ngIf="formGroup.controls['firstname'].errors['required']">Firstname Required!</span>
          </div>
        </div>
    
        <div class="form-group">
          <label for="name">Last Name</label>
          <input type="text" class="form-control col-lg-4 col-md-6 col-sm-10" formControlName="lastname" required  name="lastname">
          <div  *ngIf="formGroup.controls['lastname'].errors && formGroup.controls['lastname'].dirty">
            <span style="color: red;"  *ngIf="formGroup.controls['lastname'].errors['required']">Lastname Required!</span>
          </div>
        </div>
    
        <div class="form-group">
          <label for="name">Email ID</label>
          <input type="text" class="form-control col-lg-4 col-md-6 col-sm-10" formControlName="emailId" required  name="emailId">
          <div  *ngIf="formGroup.controls['emailId'].errors && formGroup.controls['emailId'].dirty">
            <span style="color: red;" *ngIf="formGroup.controls['emailId'].errors['required']">Email Required!</span>
            <span  style="color: red;" *ngIf="formGroup.controls['emailId'].errors['email']">Email Invalid!</span>
          </div>
        </div>
    
        <button type="submit" class="btn btn-success"  [disabled]="!formGroup.valid">Submit</button>
      </form>
    </div>
    
    
    </div>